*{
    padding: 0px;
    box-sizing: border-box;
}
.prod_cont{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* border: 1px solid black; */
}


.prod{
    /* border: 1px solid black; */
    width: 90%;
    height: 560px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid lightseagreen; */
    border-radius: 10px;
}
.prod :hover{
    transform: scale(1.01);
}

/* 
.prod_l{
    border: 1px solid black;
    width: 80%;
    height: 650px;
} */

@media screen and (min-width: 480px) and (max-width:850px) {
    .prod_cont{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .prod{
        
        width: 90%;
        height: 650px;
    }
    
    /* .prod_l{
        border: 1px solid black;
        width: 80%;
        height: 800px;
    } */
}


@media screen and (max-width: 479px) {
    .prod_cont{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .prod{
        /* border: 1px solid black; */
        width: 80%;
        height: 600px;
    }
    
    /* .prod_l{
        border: 1px solid black;
        width: 80%;
        height: 800px;
    } */
}